<footer  class="footer-bar">
	<div class="row no-gutters justify-content-center">
		<div  class="col-md-3 col-sm-5 detail " >
				<div class="detail-logo">
					<img routerLink="/" src="">
					<span routerLink="/" class="logo-text"> SFS </span>
				</div>
				<div class="detail-email">
				 	<span class="fa fa-envelope-o icon"></span> support@sfc.in 
				</div>
				<div class="detail-phone">
				 	<span class="fa fa-phone icon"></span>+91-1234567890
				</div>
				<div class="detail-address">
					<span class="fa fa-map-marker icon"></span>
						<a>
							 SFC,<br>
							 Hi Tech-Plaza,<br>
							 Bhubaneswar, India - 751002.
						</a>
				</div>
		</div>

		<div  class="col-md-2 link " >
			<h5>Product</h5>
			<a href="#" routerLink="/" ><p routerLinkActive="active">Overview</p></a>
			<a href="#" routerLink="/" fragment="contact" ><p routerLinkActive="active">Contact</p></a>
			
		</div>


		<div  class="col-md-2 link " >
			<h5>Company</h5>
			<a href="#" routerLink="/aboutus" fragment="" ><p routerLinkActive="active">About Us</p></a> 
			<a href="#" routerLink="/career" fragment="" ><p routerLinkActive="active">Career</p></a> 
		</div>

		<div class="col-md-2 link " >
			<h5>Resources</h5>
			<a href="#" routerLink="/" fragment="bug"  ><p routerLinkActive="active">Report a Bug</p></a> 
			<a href="#" routerLink="/" fragment="suggestion" ><p routerLinkActive="active">Suggestion</p></a> 
		</div>
	</div>

	<div  class="copyright ">
		<span class="fa fa-copyright icon"></span>
		2018 SFS. All rights reserved
	</div>
</footer>